  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0a0f25;
  }

  .clock {
    width: 250px;
    height: 250px;
    border: 8px solid #fff;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle, #1e293b 50%, #0f172a 100%);
  }

  .center {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  
  .number {
    position: absolute;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 
  
  .n12 { transform: rotate(0deg) translateY(-100px) rotate(0deg); }
  .n1  { transform: rotate(30deg) translateY(-100px) rotate(-30deg); }
  .n2  { transform: rotate(60deg) translateY(-100px) rotate(-60deg); }
  .n3  { transform: rotate(90deg) translateY(-100px) rotate(-90deg); }
  .n4  { transform: rotate(120deg) translateY(-100px) rotate(-120deg); }
  .n5  { transform: rotate(150deg) translateY(-100px) rotate(-150deg); }
  .n6  { transform: rotate(180deg) translateY(-100px) rotate(-180deg); }
  .n7  { transform: rotate(210deg) translateY(-100px) rotate(-210deg); }
  .n8  { transform: rotate(240deg) translateY(-100px) rotate(-240deg); }
  .n9  { transform: rotate(270deg) translateY(-100px) rotate(-270deg); }
  .n10 { transform: rotate(300deg) translateY(-100px) rotate(-300deg); }
  .n11 { transform: rotate(330deg) translateY(-100px) rotate(-330deg); }

  .hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom center;
    transform: translateX(-50%) rotate(0deg);
    border-radius: 6px;
  }

  .hour {
    width: 6px;
    height: 60px;
    background: #38bdf8;
    animation: rotate360 43200s linear infinite;
  }

  .minute {
    width: 4px;
    height: 85px;
    background: #67e8f9;
    animation: rotate360 3600s linear infinite;
  }

  .second {
    width: 2px;
    height: 100px;
    background: #f43f5e;
    animation: rotate360 60s linear infinite;
  }

  @keyframes rotate360 {
    from { transform: translateX(-50%) rotate(0deg); }
    to { transform: translateX(-50%) rotate(360deg); }
  }
